html, body {
    height: 100%;
}
.message-typing {
    padding-top: 10px;
    padding-bottom: 10px;
}

.chat-container {
    height: 100%;
    border: 1px solid #eceff1;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    padding: 3px;
}

.my-text {
    text-align: right;
    color: white;
    border: 1px solid blue;
    background-color: blue;
    border-radius: 7px;
    padding: 4px 8px;
    width: fit-content;
    max-width: 80%;
    float: right;
    margin-bottom: 5px;
    margin-left: auto;
}

.their-text-wrapper {
    display: flex;
    flex-direction: row;
}

.circle {
    padding: 4px 15px;
    border-radius: 50%;
    border: 1px solid #d7ccc8;
    background-color: #d7ccc8;
    margin-right: 10px;
}

.their-text {
    text-align: left;
    border: 1px solid #eee;
    background-color: #eee;
    border-radius: 7px;
    padding: 4px 8px;
    max-width: 80%;
    width: fit-content;
    float: left;
    margin-bottom: 5px;
}

.user-list {
    width: 20%;
    border-left: 1px solid #eceff1;
}

.user:last-child {
    border-bottom: 1px solid #bdbdbd;
}

.user {
    border-top: 1px solid #bdbdbd;
    border-bottom: transparent;
    padding: 5px;;
    text-decoration: none;
    color: #757575;
    background-color: #fff;
    display: inline-block;
    width: 100%;
}

.user:hover {
    text-decoration: none;
    background-color: #757575;
    color: #fff;
}

.chat-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.chat-title {
    border-left: 1px solid #eceff1;
    border-right: 1px solid #eceff1;
    padding: 5px;
    color: #000;
    background-color: #bdbdbd;
}

.no-user-online {
    color: #bcbcbc;
    font-size: 10pt;
    font-style: italic;
    padding: 10px;
}