<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <%- include('../partial/head')%>
</head>
<body>
    <div class="container">
        <h3 class="text-center text-white pt-5"></h3>
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="text-center text-info">Register an account</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <input type="text" name="username" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="username" class="text-info">Display name:</label><br>
                            <input type="text" name="displayName" id="displayName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="username" class="text-info">Password:</label><br>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="username" class="text-info">Confirm password:</label><br>
                            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control">
                        </div>
                        <% if(typeof error !== 'undefined') {%>
                            <label class="alert alert-danger"><%= error%></label>
                        <% }%>
                        <% if(typeof success !== 'undefined') {%>
                            <label class="alert alert-success"><%= success%></label>
                        <% }%>
                        <div class="form-group text-right">
                            <a href="/login" class="text-info">Login</a>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-info btn-md" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partial/footer')%>
</body>
</html>