<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Chat</title>
    <%- include('../partial/head')%>
</head>
<body>
    <div class="container h-100 d-flex">
        <div class="user-list">
            <div class="user">Nguoi dung 1</div>
        </div>
        <div class="chat-wrapper">
            <div class="chat-container">
            </div>
            <div class="message-typing">
                <input hidden name="senderId" value="<%= user._id%>"/>
                <div class="input-group">
                    <input id="txtMessage" name="message" type="text" class="form-control" placeholder="Typing some text to send...">
                    <div class="input-group-append">
                        <button id="btnSend" class="btn btn-outline-primary" type="submit"><i class="fas fa-paper-plane"></i>&nbsp;Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partial/footer')%>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
    <script>
        let user = <%- user%>
        $('#btnSend').on('click', () => {
            let $message = $('#txtMessage');
            let obj = {
                senderId: user._id,
                senderDisplayName: user.displayName,
                message: $message.val()
            };
            socket.emit('new message', obj);
            // Reset the text input
            $message.val('');
        });
        let $chatContainer = $('.chat-container');
        socket.on('new message', messageObj => {
            addMessage(user._id, messageObj, $chatContainer);
        })
    </script>
</body>
</html>